---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import FooterSection from "../components/FooterSection.astro";

import { SITE_DESCRIPTION, SITE_TITLE } from "../config";

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  fullWidth = false,
  showFooter = true,
  overlayHeader = false,
} = Astro.props;
---

<!doctype html>
<html
  lang="es"
  class="bg-background text-secondary selection:bg-[var(--color-selection-bg)] selection:text-[var(--color-selection-text)]"
>
  <head>
    <BaseHead title={title} description={description} image={image} />
    <script is:inline>
      (function () {
        const theme = localStorage.getItem("theme");
        if (
          theme === "dark" ||
          (!theme && window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.add("dark");
        }
      })();
    </script>
  </head>
  <body
    class:list={[
      "mx-auto font-sans relative",
      fullWidth ? "w-full" : "xl:w-[55rem] lg:w-4/5 w-full sm:px-2 md:px-4",
    ]}
  >
    <Header fullWidth={fullWidth} overlay={overlayHeader} />
    <main id="main" class:list={[fullWidth ? "" : "px-2 md:px-6 pb-12"]}>
      <slot />
    </main>
    {showFooter && <FooterSection />}
    <noise> </noise>
  </body>
</html>
